.label {
    background: secondary-color;
    -fx-background-color: background;
    -fx-border-color: accent-color highlight-color highlight-color accent-color;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: white;
    -fx-font: 20px "Arial";
}

.user-dialog {
    -fx-alignment: top-right;
}

.genie-dialog {
    -fx-alignment: top-left;
}

.user-dialog .label {
    background: accent-color;
    -fx-background-color: background;
    -fx-text-fill: main-color;
}

.genie-dialog .label {
    background: secondary-color;
    -fx-background-color: background;
    -fx-text-fill: white;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.45, 3, 3);
    -fx-border-color: accent-color;
    -fx-border-width: 3px;
}

.profile-picture {
    -fx-background-radius: 50%;
}
