.root {
    main-color: #312c51;
    secondary-color: #48426d;
    accent-color: #f0c38e;
    highlight-color: #f1aa9b;
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: secondary-color;
    -fx-background-radius: 10px 0 0 10px;
    -fx-border-color: accent-color;
    -fx-border-width: 2px 0 2px 2px;
    -fx-border-radius: 10px 0 0 10px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #d8d4e7;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: accent-color;
    -fx-text-fill: main-color;
    -fx-background-radius: 0 10px 10px 0;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: highlight-color;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: accent-color;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: secondary-color;
}

.scroll-bar .thumb {
    -fx-background-color: highlight-color;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
